body {
    background-color: #04010B;
    height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-align: center; /* Centers all text */
    color: #e5dddd; /* Applies the Alice White color */
}

.background-top-circle {
    position: fixed; /* Ensures the circle stays in the same place even when scrolling */
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* Adjust the size of the circle as needed */
    height: 500px; /* Adjust the size of the circle as needed */
    background-image: linear-gradient(to bottom right, #4e68a4, #5e1a67); /* Gradient from top-left to bottom-right */
    border-radius: 50%; /* This creates the circle shape */
    filter: url(#grain) blur(10px); /* Applying the grain filter along with blur */
    filter: blur(90px); /* Applies the blur effect directly to the circle */
    z-index: -1; /* Ensures the circle stays behind the content */
}

.background-btm1-circle {
    position: fixed; /* Ensures the circle stays in the same place even when scrolling */
    top: 100%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust the size of the circle as needed */
    height: 400px; /* Adjust the size of the circle as needed */
    background-image: linear-gradient(to bottom right, #4e68a4, #5e1a67); /* Gradient from top-left to bottom-right */
    border-radius: 50%; /* This creates the circle shape */
    filter: blur(100px); /* Applies the blur effect directly to the circle */
    z-index: -1; /* Ensures the circle stays behind the content */
}

.background-btm2-circle {
    position: fixed; /* Ensures the circle stays in the same place even when scrolling */
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the size of the circle as needed */
    height: 300px; /* Adjust the size of the circle as needed */
    background-image: linear-gradient(to bottom right, #4e68a4, #5e1a67); /* Gradient from top-left to bottom-right */
    border-radius: 50%; /* This creates the circle shape */
    filter: blur(100px); /* Applies the blur effect directly to the circle */
    z-index: -1; /* Ensures the circle stays behind the content */
}

.background-btm3-circle {
    position: fixed; /* Ensures the circle stays in the same place even when scrolling */
    top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the size of the circle as needed */
    height: 300px; /* Adjust the size of the circle as needed */
    background-image: linear-gradient(to bottom right, #4e68a4, #5e1a67); /* Gradient from top-left to bottom-right */
    border-radius: 50%; /* This creates the circle shape */
    filter: blur(100px); /* Applies the blur effect directly to the circle */
    z-index: -1; /* Ensures the circle stays behind the content */
}

.navbar {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 50px);
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5); /* Initial opacity */
  border: solid 0.5px rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  transition: background-color 0.5s ease; /* Gradual transition for the background color */
}

.links-container {
    display: flex;
    justify-content: center; /* This will center the links within their container */
    flex-grow: 1; /* Allows the container to take up available space, pushing the button to the right */
}

.navbar-brand {
    /* Style for the "Josh" text */
    color: white; /* Example text color */
    font-weight: bold; /* Example font weight */
    margin-right: 100px;
    /* Add more styling as needed */
  }
  

.navbar a, .navbar button {
  color: white; /* Adjusted for better contrast against the dark background */
  text-decoration: none;
  font-size: 15px;
  margin: 0 20px; /* Creates 10px space between links */
  border-radius: 8px; /* Ensuring consistency with the requested border-radius */
}

  /* Additional style to ensure the first and last link have proper spacing */
.navbar a:first-child {
    margin-left: 0;
}

.book-call-btn {
    padding: 8px 20px; /* Adjust padding as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Matching the navbar's style */
    border: 1px solid white; /* Add border as needed */
    cursor: pointer; /* Changes cursor to pointer on hover over the button */
    margin-left: auto; /* This pushes the button to the far right */
}
  
.book-call-btn:hover {
    opacity: 0.8; /* Decreases opacity when hovering over the button */
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
}

.left-boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* Center align the left boxes */
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(174, 174, 174, 0.186); /* Grey with 50% opacity */
  border: solid 0.186px transparent; /* Initial transparent border for gradient */
  border-radius: 15px;
  position: relative; /* Needed for pseudo-elements */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text horizontally */
}

/* Gradient border using pseudo-element */
.box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -0.5px;
  border-radius: inherit;
  background: linear-gradient(rgba(86, 86, 86, 0.5), rgba(77, 77, 77, 0.5)); /* Simple gradient for visibility */
}

.box.small {
  height: 200px;
  width: 500px; /* Adjust as needed */
  position: relative;
}

.box.large {
  height: 420px;
  width: 420px; /* Adjust as needed */
  overflow: hidden;
  position: relative;
}

.background-box-circle {
  position: absolute;
  top: 85%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-image: linear-gradient(to bottom right, #4e68a4, #5e1a67);
  border-radius: 50%;
  filter: blur(80px);
  z-index: 0;   
}

.text-content {
  text-align: center;
  padding: 10px;
  color: white; /* Adjust text color as needed */
  margin-bottom: -100px;
}

.text-content h2 {
  font-size: 1.4em; /* Slightly larger titles */
  margin-bottom: 5px; /* More space below titles */
  text-align: left;
  margin-top: 10px;
}

.text-content p {
  font-size: 0.9em; /* Standard paragraph text size */
  text-align: left;
  margin-top: 10px;
}

.compared-box {
  width: 300px; /* Adjust based on your preference */
  height: 450px; /* Ensures equal height */
  border-radius: 15px;
  border: solid 0.5px transparent; /* For gradient outline */
  background: linear-gradient(rgba(101, 101, 101, 0.3), rgba(52, 52, 52, 0.3)) padding-box, linear-gradient(to right, rgba(255,255,255,0.5), rgba(204,204,204,0.5)) border-box; /* Adjusted for more transparency and less white */
  margin: 10px; /* Ensures some space between boxes */
  display: inline-block; /* Align boxes next to each other */
  color: white; /* Adjust text color as needed */
}

ul {
  list-style-type: none; /* Removes default list style */
  padding: 15px; /* Adds some padding inside the box */
}

.compared-box ul li {
  margin-bottom: 10px; /* Increase spacing between list items */
  /* Additional styling here if needed */
}

.compared-box ul li:before {
  margin-right: 5px;
}

#compared-box1 li:before {
  content: "✅";
}

#compared-box2 li:before, #compared-box3 li:before {
  content: "❌";
}

.compared-box-title {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  margin: 20px 0 10px 0; /* Adjusts spacing around the title */
  color: white; /* Adjusts the color as needed */
}

.booking-btn {
  background-color: #D65978; /* Button color */
  color: white; /* Text color */
  border: none; /* No border */
  padding: 15px 30px; /* Increased padding inside the button */
  font-size: 16px; /* Text size */
  cursor: pointer; /* Changes the mouse cursor to a pointer */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Removes the outline */
  box-shadow: 0 0 8px #D65978, 0 0 12px #D65978, 0 0 16px #D65978; /* Glowing effect */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow effect */
}

.booking-btn:hover {
  box-shadow: 0 0 12px #D65978, 0 0 16px #D65978, 0 0 20px #D65978; /* Enhanced glowing effect on hover */
}

.HIW-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Ensures wrapping if the screen is too small */
  margin-top: -50px;
}

.HIW-box {
  width: 300px;
  height: 200px;
  border: solid 0.5px white;
  background: linear-gradient(rgba(56, 56, 56, 0.3), rgba(28, 28, 28, 0.3)) padding-box, linear-gradient(to right, rgba(255,255,255,0.5), rgba(204,204,204,0.5)) border-box;
  margin: 20px; /* Adjusts spacing between boxes */
  padding: 10px; /* Adjusts padding inside the box */
  box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5); /* Inner shadow from above */
  text-align: center; /* Centers the text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.HIW-box-image {
  width: 80px; /* Adjust based on your preference */
  height: 80px; /* Adjust based on your preference */
  margin-bottom: 10px; /* Adjusts space above the image */
}

.HIW-box h2, .HIW-box p {
  margin: 5px 0; /* Adjusts spacing around text elements */
}

.get-started-section {
  padding-left: 200px; /* Adds some space from the left edge of the screen */
  margin-top: 80px;
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the left, with space from the screen's edge */
  max-width: 600px; /* Adjust the list's maximum width */
}

.step-with-description {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Spacing between each step */
}

.step {
  width: 100px; /* Makes boxes smaller and more boxy */
  height: 50px;
  border-radius: 5px; /* Less radius for a boxier look */
  border: 0.5px solid white;
  box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5); /* Inner shadow */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px; /* Space between the step box and the description */
}

/* Optional: Adjusts the paragraph styling if needed */
.step-with-description p {
  margin: 0; /* Removes default margins */
  margin-top: 10px;
}

.pricing-container {
  display: flex;
  padding: 20px; /* Adds some padding around the containers */
  margin-left: 280px;
}

.price-box {
  width: 250px; /* Increased size */
  background-color: rgba(174, 174, 174, 0.186);
  border: solid 0.5px white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px; /* Manual spacing between boxes */
}

/* Adjust the last box to have no margin on the right */
.price-box:last-child {
  margin-right: 0;
}

.video-length, .description {
  font-size: 15px; /* Increased font size by approximately 15% */
  text-align: left; /* Aligns text to the left */
  width: 100%; /* Ensures text spans the full width of the box */
}

.price {
  font-size: 20px; /* Adjusted font size */
  font-weight: 600;
  margin: 5px 0;
  text-align: left; /* Aligns text to the left */
}

.price-box ul {
  list-style: none;
  padding: 0;
  text-align: left; /* Ensures list items are aligned to the left */
  width: 100%; /* Ensures list spans the full width of the box */
}

.price-box ul li {
  font-size: 15px; /* Increased font size */
  position: relative;
  padding-left: 15px;
}

.price-box ul li:before {
  content: "✅";
  position: absolute;
  left: 0;
  margin-right: -5px;
}

.get-started-btn {
  background-color: rgba(174, 174, 174, 0.186);
  border: solid 0.5px white;
  padding: 6px 12px; /* Adjusted padding for a larger button */
  font-size: 15px; /* Adjusted font size */
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  align-self: center; /* Ensures the button is centered within the box */
}

.get-started-btn:hover {
  background-color: rgba(174, 174, 174, 0.3);
}

